.react-calendar {
    width: 400px;
    height: 320px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation button {
    color: #9f48eb;
    border-radius: 6px;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
    background-color: #f8f8fa;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__month-view__days__day {
    color: black;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
    color: red;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="토요일"] {
    color: blue;
}
.react-calendar__tile--now,
.react-calendar__tile--now.react-calendar__tile--active {
    background: #DBC4F0;
    border-radius: 6px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--active:enabled:hover {
    background: #f8f8fa;
    color: black;
}

.react-calendar__tile--now:enabled:focus,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--now:enabled:focus.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active:enabled:focus {
    background: #DBC4F0;
    color: white;
}

.react-calendar__tile--hasActive:enabled:focus {
    background: #f7effc;
}

.react-calendar__tile--active {
    background: #DBC4F0;
    border-radius: 6px;
    color: white;
}

.highlight {
    background-color: #f7effc;
    border-radius: 6px;
    font-weight: bold;
}