/*로그인 화면*/
.body1 {
  height: 100vh;
  display: flex;
} 
.main1 {
  max-width: 450px;
  position: absolute;
  width: 100%;
  border-radius: 20px;
  padding-top: 10px;
  height: 300px;
  top: 400px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  box-shadow: 0 0 8px rgba(119, 167, 144, 0.192);
}
.btn1 {
  background: none;
  border: 2px solid white;
  border-radius: 150px;
  align-self: center;
  width: 150px;
  padding: 8px 16px;
  margin: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0.1s;
}
.btn1:hover {
  background: white;
  color: rgba(119, 167, 144, 0.753);
}
.form-field1{
  display: flex;
  flex-flow: column wrap;
  width: 60%;
}
.form-field1 input {
  border: none;
  padding: 5px;
  border-bottom: 1px solid rgba(116, 116, 116, 0.44);
  height: 30px;
  transition: border-bottom 0.1s ease-in-out 0.1s;
}
.form-field1 input:focus {
  border-bottom: 1px solid rgba(119, 167, 144, 0.719);
}
.organize-form1 h2 {
  font-size: 1.4em;
  font-weight: normal;
}
.organize-form1 h2::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background:  rgba(119, 167, 144, 0.719);
  margin: 0 auto;
}
.btn-sign1 {
  border: none;
  background:  rgba(119, 167, 144, 0.473);
  color: white;
  font-weight: bold;
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.btn-sign2 {
  border: none;
  background:  rgba(119, 167, 144, 0.473);
  color: white;
  font-weight: bold;
  width: 30%;
  padding: 10px;
  /* margin-top: 20px; */
  border-radius: 30px;
  cursor: pointer;
}
.btn-sign2:hover {
  background:  rgba(119, 167, 144, 0.705);
}
.btn-sign1:hover {
  background:  rgba(119, 167, 144, 0.705);
}
.bars-style1 {
  color: rgba(119, 167, 144, 0.404);
  cursor: pointer;
  font-size: 16px;
}
.btn-sign3 {
  border: none;
  background:  rgba(119, 167, 144, 0.473);
  color: white;
  font-weight: bold;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.btn-sign3:hover {
  background:  rgba(119, 167, 144, 0.705);
}

.custom-table3 {
  width: 97%;
  background-color: #b9bdc1;
  font-weight: bold;
}

/* 사업자 페이지 디자인 */
.custom-select1, .custom-input1 {
  border-radius: 0;
  border: 2px solid #ced4da;
  font-size: 1rem;
}

.custom-button1 {
  border-radius: 0;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button1:hover {
  color: #fff !important;
}

.btn-outline-success1 {
  color:#448854c4;
  border-color:  #448854c4
}

.btn-outline-success1:hover {
  background-color:  #448854c4;
  border-radius: 10px;
}

.btn-outline-success1:hover {
  background-color:  #448854e1;
  border-radius: 10px;
}


.custom-table1 th, .custom-table1 td {
  vertical-align: middle;
  text-align: center;
}

.custom-table1 th {
  background-color: #e9ecef;
  font-weight: bold;
}

.custom-table1 td {
  color: #495057;
}

.btn-success.custom-button1 {
  color: #fff;
  background-color: #448854c4;
  border-color: #448854c4;
  border-radius: 10px;
}

.btn-warning.custom-button1 {
  color: #212529a7;
  background-color: #f5c22988;
  border-color:  #ffc1075c;
  border-radius: 10px;
}

.btn-primary.custom-button1 {
  color: #fff;
  background-color: #287ad2b1;
  border-color:   #6facedee;
  border-radius: 10px;
}

.btn-secondary.custom-button1 {
  color: #fff;
  background-color: #6c757dcb;
  border-color: #6c757d;
  border-radius: 10px;
}  
