.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition : all 1s;
	z-index: 999;
	transition : opacity 0.5s ease;
}
 
/* modal창 */
.modalBody {
  position: absolute;
  width: 600px;
  height: 600px;
  padding: 40px;
  text-align: center;
  z-index: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.modalBody::-webkit-scrollbar, .modalBody_a::-webkit-scrollbar  {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}
 
#modalCloseBtn:hover {
  cursor: pointer;
}

.Modal_a {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody_a {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 850px;
  padding: 40px;
  justify-content: center;
  text-align: center;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}